:root {
  --instaColorHome : radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,darkviolet 90%);
  --gradientUi : radial-gradient(circle at 30% 107%, #d538e9 0%, #c71cdc 5%, lightskyblue 45%,#34d996 60%, #6688ca 90%);
  --disable-color: gray;
  --accent-color: #F761A1;
  --navbar-color : linear-gradient( 109deg,  var(--nav-color-top) 11.2%, var(--nav-color-bottom) 90% );
  --navHoverLink : radial-gradient(circle, rgba(197,133,232,.2) 0%, transparent 85%);
  --navHoverLinkFilter : progid:DXImageTransform.Microsoft.gradient(startColorstr="#e42fef",endColorstr="transparent",GradientType=1);
  --default-Bg : #efefef;
  --shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --sm-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --md-shadow: rgba(0, 0, 0, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  --shadow-img: rgba(0, 0, 0, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  --dropShadow: drop-shadow(1px 1px 0px rgba(0,0,0,.2));
  --dropShadow-img: drop-shadow(0px 3px 3px rgba(0, 0, 0, .3));
  --dropShadow-icon: drop-shadow(1px 1px 2px rgba(0, 0, 0, .3));
  --newShadow: 0px 16.1px 3.8px -21px rgba(0, 0, 0, 0.074),
  0px 27px 9.6px -21px rgba(0, 0, 0, 0.106),
  0px 35.7px 19.5px -21px rgba(0, 0, 0, 0.134),
  0px 43.5px 40.2px -21px rgba(0, 0, 0, 0.166),
  0px 51px 110px -21px rgba(0, 0, 0, 0.24)
;
  --text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
  /* ICON-ARROWS */
  --fonawsm: 'Font Awesome 5 Free';
  /* GOOGLE-FONTS-INCLUDE */
  --oswald: "Oswald",Georgia,"Times New Roman",Times,serif;
  --roboto: 'Roboto Condensed', sans-serif !important;
  --lato: 'Lato', sans-serif;
}
/* Dark-Background-Style */
html[data-color-themes="dark"]{
  --disable-color: #fff;
  --navLink : #e5e5e5;
  --default-Bg : #212429;

}
body {
  background: var(--default-Bg);
  transition: all 1s ease-in-out;
}
/*============================================= *** ANIMATION-#EFFECT-#CLICK-UI-THEMES *** ====== ====================================*/

@keyframes bounceInRight { 
    0% { 
        opacity: 0; 
        transform: translateX(200px); 
    } 
    60% { 
        opacity: .3; 
        transform: translateX(-30px); 
    } 
    80% { 
        transform: translateX(10px);
        opacity: .5; 
    } 
    100% { 
        transform: translateX(0);
        opacity: 1; 
    } 
} 
@keyframes fadeInLeft { 
    0% { 
        opacity: 0; 
        transform: translateX(-20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
}
@keyframes fadeInRight { 
    0% { 
        opacity: 0; 
        transform: translateX(20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateX(0); 
    } 
}
/* @@@ ANIMATION-MAIN-*SHARE @@@ */
@-webkit-keyframes main-share {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05); }

  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9); }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02); }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98); }

  97%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes main-share {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  20% {
    -webkit-transform: scaleY(1) scaleX(1.07);
    transform: scaleY(1) scaleX(1.2); }

  48% {
    -webkit-transform: scaleY(1.2) scaleX(1);
    transform: scaleY(1.2) scaleX(1); }

  68% {
    -webkit-transform: scaleY(1) scaleX(1.2);
    transform: scaleY(1) scaleX(1.2); }

  80% {
    -webkit-transform: scaleY(1.2) scaleX(1);
    transform: scaleY(1.2) scaleX(1); }

  97%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); 
    
  }
}
/* /// ANIMATION-MAIN-*SHARE /// */