.table_task {
  width: 90vw;
  margin: 5rem auto;
  overflow: scroll;
  position: relative;
  font-family: Arial, "Helvetica Neue", Helvetica, "Comic Sans MS";
  z-index: 5;
}
table._task {
  background: rgba(200,200,200,.4);
  color: #eee;
  border-collapse: /* separate */ collapse;
  text-align: center;
  z-index: 7;
}
tr._thead {
  background: radial-gradient(circle at 47% 107%, #f26fcf 0%, hotpink 5%, #a739be 45%, #8916b6 60%, hotpink 90%);
}
tr._thead th {
  padding: 1.5rem 1rem;
}
tr._tbody td{
  padding: .5rem 1rem;
}
table._task tr:nth-child(even){
  background: rgba(200,200,200,.4);
}
#edit a._tmenu_edit i {
  color: #eee;
}

#edit .tmenu_edit {
  width: 100%;
  height: 100%;
  padding: 1rem;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  z-index: 10;
}
#edit .tmenu_edit ul#tmenu_edit {
  background: #ea3;
  width: 100%;
  width: fit-content;
  position: absolute;
  list-style: none;
  line-height: 2rem;
  padding: 0;
  border-radius: 8pt;
}
ul#tmenu_edit a {
  text-decoration: none;
  color: #eee;
  padding: 1rem;
}
#taskName, .taskName, 
#edit .tmenu_edit ul#tmenu_edit{
  text-align: left !important;
}
#icon {
  font-size: 1.5rem;
}
@media screen and (min-width: 540px){
  ._task::before {
    background-image: var(--instaColorHome);
    filter: blur(70px);
    width: 100%;
    height: 100%;
    display: block;
    content: '';
    position: absolute;
    z-index: -1;
  }
  .table_task, ._task {
    border-radius: 8pt;
  }
  #taskName {
    min-width: 200px;
  }
}
@media screen and (max-width: 540px){
  .table_task {
    width: 100%;
    background-color: #212121;
    overflow: hidden;
    padding: 5rem 1rem;
    margin: 0;
  }
  table._task {
    width: 100%;
    background-color: transparent;
    /* background-image: var(--instaColorHome); */
    overflow: auto;
  }
  tr._thead, 
  #edit::before,
  #icon::before,
  td#number::before,
  #taskName::before{
    display: none;
  }
  tr._tbody {
    margin-bottom: 5rem;
    font-weight: bold;
    color: white;
    padding: 1rem;
    border-radius: 15pt;
    display: grid;
    grid-template-areas: 
    "number icon edit"
    "taskName taskName taskName"
    ;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-columns: 1fr;
    gap: 1rem ;
    line-height: 1.7rem;
    z-index: 10;
    filter: var(--dropShadow-icon);
  }
  tr._tbody::before {
    width: 100%;
    height: 100%;
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: var(--instaColorHome);
    filter: blur(70px);
    z-index: -1;
  }
  table._task tr:nth-child(even){
    background: rgba(41,181,146,0.5);
    background-image: var(--instaColorHome);
  }
  table._task tr._tbody:nth-of-type(odd){
    background: rgba(195,44,234,0.5);
  }
  tr._tbody td{
    border: none;
    border-radius: 7pt;
  }
  tr._tbody td::before {
    display: block;
    content: attr(data-title);
    color: yellowGreen;
    font-weight: bold;
  }
  #icon {
    grid-area: icon;
    /* background: teal; */
    position: relative;
  }
  
  #edit,
  #icon,
  #icon i {
    display: flex;
    align-items: center;
    justify-content: center; 
  }
  #icon i {
    width: 100px;
    height: 100px;
    background: #ac7;
    border-radius: 50pt;
    /* border: 3px solid white; */
    position: absolute;
    top: -55pt;
    font-size: 3rem;
  }
  #edit a i {
    grid-area: edit;
    /* background: yellowGreen; */
    color: white;
    width: 100%;
    font-size: 2rem;
    justify-content: flex-end;
  }
  #number::before{
    display: inline-block;
    margin: 0;
    margin-right: .5rem;
  }
  #number, #number::before {
    color: gray;
  }
  #number {
    grid-area: number;
    text-align: left;
  }
  #taskName {
    /* background: orangered; */
    grid-area: taskName;
    place-self: center;
    margin: 1rem 0;
    font-size: 2rem;
  }
  #alarm-set {
    /* background: olivedrab; */
    height: 100%;
    text-align: center;
    font-weight: lighter;
  }
  #edit .tmenu_edit ul#tmenu_edit {
    right: 2rem;
    margin-top: -3rem;
  }
}

