
table._task {
  width: 90vw;
  background: #397;
  color: #eee;
  margin: 5rem auto;
  border-collapse: separate;
  border-spacing: .3rem;
  text-align: left;
}
tr._thead {
  background: green;
}
tr._tbody {
  position: relative;
}
tr._tbody td{
  border: 1px solid greenyellow;
}
table._task tr:nth-child(even){
  background: #175;
}
table._task tr._tbody:nth-of-type(odd){
background: oliveDrab;
}

